.dropdown-caret {
  margin-left: 9px;
  vertical-align: middle;
}


.dropdown-menu {
  position: absolute;
  min-width: 10rem;
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(#000000, 0.16);
}

.dropdown-menu {
  &:not(.show) {
    display: none;
  }

  &.show {
    display: block;
  }
}

.dropdown-item {
  display: block;
  font-size: 16px;
  padding: 10px 16px;
  transition: background-color 250ms;
}

.dropdown-item {
  &:hover {
    background-color: $light;
    color: $red;
  }
}
