extends /layout/_base.pug

block head
  title Партнеры | Unicon Soft

block body
  .container
    section.section-content.partners
      h1.section-title Партнеры
      .partners__partner
        .row.gy-4.gy-md-0.gx-lg-5
          .col-6.col-sm-4.col-md-3.col-lg-2
            .partners__image-container
              img.partners__image(src="/assets/images/icons/partners/partners-1.png")
          .col-md-9.col-lg-10
            h2.partners__title Администрация Президента Республики Узбекистан
            p.partners__description Администрация Президента Республики Узбекистан образована в соответствии с Указом Президента Республики Узбекистан от 26 августа 2018 года «Об образовании Администрации Президента Республики Узбекистан» и является государственным органом, осуществляющим информационно-аналитическое и организационно-контрольное обеспечение деятельности Президента Республики Узбекистан.
            a.button.button--outline(href="#!") Перейти на сайт
      .partners__partner
        .row.gy-4.gy-md-0.gx-lg-5
          .col-6.col-sm-4.col-md-3.col-lg-2
            .partners__image-container
              img.partners__image(src="/assets/images/icons/partners/partners-2.png")
          .col-md-9.col-lg-10
            h2.partners__title Министерство юстиции Республики Узбекистан
            p.partners__description Министерство юстиции Республики Узбекистан (узб. Oʻzbekiston Respublikasi Adliya vazirligi / Ўзбекистон Республикаси Адлия вазирлиги) — орган государственного управления Республики Узбекистан, обеспечивающий реализацию единой государственной правовой политики.
            a.button.button--outline(href="#!") Перейти на сайт
      .partners__partner
        .row.gy-4.gy-md-0.gx-lg-5
          .col-6.col-sm-4.col-md-3.col-lg-2
            .partners__image-container
              img.partners__image(src="/assets/images/icons/partners/partners-1.png")
          .col-md-9.col-lg-10
            h2.partners__title Министерство экономического развития и сокращения 
            p.partners__description Министерство экономического развития и сокращения бедности Республики Узбекистан образовано Постановлением Президента Республики Узбекистан № ПП-4653 "Об организации деятельности Министерства экономического развития и сокращения бедности Республики Узбекистан, а также подведомственных ему организаций" от 26 марта 2020 года.
            a.button.button--outline(href="#!") Перейти на сайт
      .partners__partner
        .row.gy-4.gy-md-0.gx-lg-5
          .col-6.col-sm-4.col-md-3.col-lg-2
            .partners__image-container
              img.partners__image(src="/assets/images/icons/partners/partners-3.png")
          .col-md-9.col-lg-10
            h2.partners__title Министерство финансов Республики Узбекистан
            p.partners__description Постановление Президента Республики Узбекистан №ПП-2847 от 18 марта 2017 года «О мерах по дальнейшему совершенствованию деятельности финансовых органов»
            a.button.button--outline(href="#!") Перейти на сайт
