extends /layout/_base.pug
include /mixins/_header.pug

block head
  title О нас | Unicon Soft

block body
  +header
  .container
    .breadcrumps
      a.breadcrumps__crumb(href="/") Главная
      a.breadcrumps__crumb О нас
    section.about-us.page-content-section
      h1.page-content-title О нас
      .about-us__content
        .about-us__top-panel
          h2.about-us__company-name Unicon-Soft 
          p.about-us__company-info Компания производитель и поставщик программного продукта, таких как автоматизация делопроизводства и электронного документооборота, контроль и исполнение Поручений Президента. Компания образованна в ноябре 2017 года на основе разработчиков, создавших систему электронного документооборота на основании приказа ГУП «UNICON.UZ». 
        ol.about-us__description-list
          li.about-us__description-entry
            p.about-us__entry-title Профиль компании
            p.about-us__entry-text Разработка и внедрение систем управления документационной деятельности организаций на основе применения современных информационных технологий. Ни один проект в сфере информационных технологий не обходится без труда разработчика – программиста. В OOO UNICON-SOFT работает группа высококвалифицированных программистов. Заключением договоров занимаются ответственные специалисты, которые полностью проинформируют и ускорят процесс подключения к продукту ООО UNICON-SOFT. Договорной отдел является неотъемлемой частью организации, имеющих большое количество контрагентов.Качественным и своевременным решением технических вопросов, обучению программному продукту, введение базы и дальнейшей технической поддержкой занимается отдел внедрения и технического сопровождения. Информированием и решением тех. вопросов удаленно занимается служба Call-центр.
          li.about-us__description-entry
            p.about-us__entry-title Наш продукт
            p.about-us__entry-text Это инновационная структура, которая обеспечивает безопасность и сохранность данных.
            ul.about-us__entry-list
              li.about-us__entry-list-item Безопасность системы осуществлена на базе стандартов:
              li.about-us__entry-list-item O`zDST 1105:2009 Алгоритм шифрования данных
              li.about-us__entry-list-item O`zDST 1092:2009 Процессы формирования и проверки ЭЦП
            p.about-us__entry-text Единая межведомственная электронная система исполнительской дисциплины – электронный документооборот, который обеспечивает контроль исполнительской дисциплины. Система предоставляет одновременно средства совместной работы сотрудников с документами и готовые инструменты для автоматизации процессов документооборота и контроля исполнения поручений.
          li.about-us__description-entry
            p.about-us__entry-title adm.ijro.uz 
            p.about-us__entry-text Система для контроля исполнения поручений Президента Республики Узбекистан. Так же в системе были разработаны модули для удобства наших пользователей, такие как подготовка и подпись исходящего документа с помощью ЭЦП, модули мониторинга и автоматического формирования отчетности.
          li.about-us__description-entry
            p.about-us__entry-title isign.uz 
            p.about-us__entry-text Электронная система договоров. Данная система позволяет заключить договор с клиентом в электронном виде, для подключения к программному продукту OOO UNICON-SOFT
          li.about-us__description-entry
            p.about-us__entry-title Е-ХАТ 
            p.about-us__entry-text Программный комплекс, предназначенный для организации защищенного обмена электронными сообщениями между пользователями системы Е-ХАТ. Система Е-ХАТ позволяет осуществлять безопасную и защищенную передачу электронных почтовых и голосовых сообщений.
          li.about-us__description-entry
            p.about-us__entry-title exsud.sud.uz 
            p.about-us__entry-text Система даёт возможность подачи обращений в суды Республики Узбекистан через информационную систему "E-XSUD", а также извещение заинтересованных лиц об осуществленных процессуальных действиях по данным обращениям и их результатах.
