extends /layout/_base.pug
include /mixins/_header.pug

block head
  title Новости | Unicon Soft

block body
  +header
  .container
    section.section-content
      h1.section-title Новости
      .row.gy-4.justify-content-center.justify-content-md-start
        .col-sm-10.col-md-6.col-lg-4.col-xxl-3
          include /components/_news-card.pug
