section.section-content.section-content--light.automated-processes
  .container-lg.gx-3
    h2.section-title Какие процессы автоматизированы?

  .container-lg.gx-0.gx-md-3(data-reveal)
    .section-swiper.swiper-container
      .swiper-wrapper.row.row-cols-1.row-cols-md-2.row-cols-lg-3.row-cols-xl-4.g-4
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image
                <svg xmlns="http://www.w3.org/2000/svg" width="55.958" height="56" viewBox="0 0 55.958 56">
                  <g id="Group_117" data-name="Group 117" transform="translate(-996.91 -1121.343)">
                    <g id="Group_17" data-name="Group 17" transform="translate(1002.692 1121.343)">
                      <path id="Path_24" data-name="Path 24" d="M1035.051,1148.843h-13.79a2.188,2.188,0,1,0,0,4.375h13.79a2.188,2.188,0,1,0,0-4.375Zm8.743-8.75h-22.533a2.188,2.188,0,1,0,0,4.375h22.533a2.188,2.188,0,0,0,0-4.375Z" transform="translate(-1009.34 -1126.968)" fill="currentColor"/>
                      <path id="Path_25" data-name="Path 25" d="M1049.522,1129.2a9.354,9.354,0,0,0-.315-1.61,8.781,8.781,0,0,0-8.393-6.244H1013.92a8.753,8.753,0,0,0-8.75,8.75v25.893a4.388,4.388,0,0,1,2.52-1.141c.147-.014.294-.021.448-.021h1.407v-24.731a4.377,4.377,0,0,1,4.375-4.375h26.894a4.385,4.385,0,0,1,4.354,3.927,3.931,3.931,0,0,1,.021.406v24.773h1.407a4.321,4.321,0,0,1,2.968,1.169v-25.942C1049.564,1129.764,1049.55,1129.477,1049.522,1129.2Z" transform="translate(-1005.17 -1121.343)" fill="currentColor"/>
                    </g>
                    <g id="Group_18" data-name="Group 18" transform="translate(996.91 1150.449)">
                      <path id="Path_26" data-name="Path 26" d="M1047.086,1163.441a8.7,8.7,0,0,0-2.968-.518h-10.157v2.989a4.325,4.325,0,0,1-.224,1.386,4.38,4.38,0,0,1-4.151,2.989h-9.394a4.345,4.345,0,0,1-3.262-1.47,4.289,4.289,0,0,1-.882-1.519,4.238,4.238,0,0,1-.21-.938c-.014-.147-.021-.294-.021-.448v-2.989H1005.66c-.3,0-.6.014-.889.042a7.635,7.635,0,0,0-.819.119,9.3,9.3,0,0,0-1.26.357,8.777,8.777,0,0,0-5.782,8.232v9.394a8.758,8.758,0,0,0,8.75,8.75h38.5c.287,0,.574-.014.854-.042a9.354,9.354,0,0,0,1.61-.315,8.781,8.781,0,0,0,6.244-8.393v-9.394A8.757,8.757,0,0,0,1047.086,1163.441Zm1.407,17.626a4.385,4.385,0,0,1-2.331,3.871,4.317,4.317,0,0,1-1.6.483,3.9,3.9,0,0,1-.406.021h-38.5a4.377,4.377,0,0,1-4.375-4.375v-9.394a4.382,4.382,0,0,1,3.927-4.354c.147-.014.294-.021.448-.021h5.887c.014.112.035.217.056.322a8.788,8.788,0,0,0,8.589,7.042h9.394a8.776,8.776,0,0,0,8.645-7.364h5.887a4.39,4.39,0,0,1,4.375,4.375Z" transform="translate(-996.91 -1162.923)" fill="#e60f26"/>
                    </g>
                  </g>
                </svg>

              h3.automated-processes-card__title Внутренний приказ
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="52.172" height="56" viewBox="0 0 52.172 56">
                  <g id="Group_16" data-name="Group 16" transform="translate(-67.262 -862.817)">
                    <path id="Path_21" data-name="Path 21" d="M119.148,883.752a2.189,2.189,0,0,0-2.189-2.189H94.41a2.189,2.189,0,0,0,0,4.378h22.549A2.189,2.189,0,0,0,119.148,883.752Zm-8.744,8.757a2.189,2.189,0,0,0-2.189-2.189H94.41a2.189,2.189,0,0,0,0,4.378h13.8A2.189,2.189,0,0,0,110.4,892.509ZM94.41,899.076a2.189,2.189,0,1,0,0,4.378h9.1a2.189,2.189,0,1,0,0-4.378Z" transform="translate(-7.475 -5.614)" fill="currentColor"/>
                    <path id="Path_22" data-name="Path 22" d="M122.7,870.677a9.37,9.37,0,0,0-.315-1.611,8.788,8.788,0,0,0-8.4-6.249H87.074a8.76,8.76,0,0,0-8.757,8.757V910.06c0,.3.014.6.042.89a7.692,7.692,0,0,0,.119.82,8.8,8.8,0,0,0,8.6,7.047h26.914a8.764,8.764,0,0,0,8.757-8.757V871.531C122.744,871.244,122.73,870.957,122.7,870.677Zm-4.336,39.384a4.38,4.38,0,0,1-4.378,4.378H87.074a4.389,4.389,0,0,1-4.357-3.93c-.014-.147-.021-.294-.021-.448V871.574a4.38,4.38,0,0,1,4.378-4.378h26.914a4.389,4.389,0,0,1,4.357,3.93,3.944,3.944,0,0,1,.021.406Z" transform="translate(-3.311)" fill="currentColor"/>
                    <path id="Path_23" data-name="Path 23" d="M72.992,914.341a4.387,4.387,0,0,1-3.454-3.832c-.014-.147-.021-.294-.021-.448V871.574a4.237,4.237,0,0,1,3.205-4.36c1.5-2.669,4.149-4.4,5.359-4.4H73.9a8.76,8.76,0,0,0-8.757,8.757V910.06c0,.3.014.6.042.89a7.69,7.69,0,0,0,.119.82,8.8,8.8,0,0,0,8.6,7.047h6.732A8.77,8.77,0,0,1,72.992,914.341Z" transform="translate(2.123)" fill="#e60f26"/>
                  </g>
                </svg>

              h3.automated-processes-card__title Документы
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="51.831" height="56" viewBox="0 0 51.831 56">
                  <g id="Group_23" data-name="Group 23" transform="translate(-1192.058 -869.688)">
                    <path id="Path_28" data-name="Path 28" d="M1208.027,923.5a2.187,2.187,0,0,1-2.187,2.188h-5.032a8.76,8.76,0,0,1-8.75-8.75v-38.5a8.76,8.76,0,0,1,8.75-8.75H1227.7a8.76,8.76,0,0,1,8.75,8.75v13.015a2.188,2.188,0,0,1-4.375,0V878.438a4.38,4.38,0,0,0-4.375-4.375h-26.895a4.38,4.38,0,0,0-4.375,4.375v38.5a4.38,4.38,0,0,0,4.375,4.375h5.032A2.187,2.187,0,0,1,1208.027,923.5ZM1227.7,885a2.187,2.187,0,0,0-2.187-2.187h-22.532a2.188,2.188,0,0,0,0,4.375h22.532A2.187,2.187,0,0,0,1227.7,885Zm-8.737,8.75a2.187,2.187,0,0,0-2.187-2.187h-13.794a2.188,2.188,0,0,0,0,4.375h13.794A2.187,2.187,0,0,0,1218.965,893.75Zm-15.982,6.563a2.188,2.188,0,0,0,0,4.375h9.091a2.188,2.188,0,0,0,0-4.375Z" fill="currentColor"/>
                    <g id="Group_22" data-name="Group 22" transform="translate(1214.837 896.599)">
                      <path id="Path_29" data-name="Path 29" d="M1241.176,914.075v-4.1a1.849,1.849,0,0,1,3.227-1.232l8.771,9.751a1.83,1.83,0,0,1,.056,2.4l-8.771,10.724a1.834,1.834,0,0,1-1.246.672,1.846,1.846,0,0,1-2.037-1.841v-3.934c-6.769.455-11.018,3.535-12.971,9.4a1.856,1.856,0,0,1-1.764,1.26,1.906,1.906,0,0,1-.287-.021,1.844,1.844,0,0,1-1.554-1.827C1224.6,923.665,1231.376,915.055,1241.176,914.075Zm1.848,3.6c-5.992,0-10.794,3.43-13.153,9.163,3.248-2.716,7.651-4.088,13.153-4.088a1.858,1.858,0,0,1,1.855,1.855v.665l4.487-5.488-4.487-4.984v1.029A1.852,1.852,0,0,1,1243.024,917.68Z" transform="translate(-1224.6 -908.132)" fill="#e60f26"/>
                    </g>
                  </g>
                </svg>

              h3.automated-processes-card__title Исходящий документ
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="51.673" height="55.83" viewBox="0 0 51.673 55.83">
                  <g id="Group_31" data-name="Group 31" transform="translate(-107.931 -1117.593)">
                    <path id="Path_32" data-name="Path 32" d="M123.852,1171.242a2.181,2.181,0,0,1-2.181,2.181h-5.016a8.733,8.733,0,0,1-8.723-8.723v-38.383a8.733,8.733,0,0,1,8.723-8.723h26.813a8.733,8.733,0,0,1,8.723,8.723v12.976a2.181,2.181,0,1,1-4.362,0v-12.976a4.367,4.367,0,0,0-4.362-4.362H116.654a4.367,4.367,0,0,0-4.362,4.362V1164.7a4.367,4.367,0,0,0,4.362,4.362h5.016A2.181,2.181,0,0,1,123.852,1171.242Zm19.615-38.383a2.181,2.181,0,0,0-2.181-2.181H118.823a2.181,2.181,0,1,0,0,4.362h22.463A2.181,2.181,0,0,0,143.467,1132.859Zm-8.711,8.723a2.181,2.181,0,0,0-2.181-2.181H118.823a2.181,2.181,0,1,0,0,4.362h13.752A2.181,2.181,0,0,0,134.756,1141.582Zm-15.933,6.542a2.181,2.181,0,1,0,0,4.362h9.063a2.181,2.181,0,1,0,0-4.362Z" fill="currentColor"/>
                    <g id="Group_30" data-name="Group 30" transform="translate(130.641 1144.422)">
                      <g id="Group_29" data-name="Group 29" transform="translate(0 0)">
                        <g id="Group_28" data-name="Group 28">
                          <path id="Path_33" data-name="Path 33" d="M152.91,1161.962v-4.083a1.843,1.843,0,0,0-3.217-1.228l-8.744,9.721a1.825,1.825,0,0,0-.056,2.394l8.744,10.691a1.829,1.829,0,0,0,1.242.67,1.841,1.841,0,0,0,2.031-1.835v-3.922c6.748.454,10.984,3.524,12.932,9.372A1.85,1.85,0,0,0,167.6,1185a1.909,1.909,0,0,0,.286-.021,1.838,1.838,0,0,0,1.549-1.822C169.436,1171.523,162.681,1162.939,152.91,1161.962Zm-1.842,3.594c5.974,0,10.761,3.42,13.113,9.135-3.238-2.708-7.628-4.076-13.113-4.076a1.853,1.853,0,0,0-1.849,1.849v.663l-4.473-5.471,4.473-4.969v1.026A1.847,1.847,0,0,0,151.068,1165.556Z" transform="translate(-140.473 -1156.037)" fill="#e60f26"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>

              h3.automated-processes-card__title Входящий документ
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="50.188" height="56" viewBox="0 0 50.188 56">
                  <g id="Group_35" data-name="Group 35" transform="translate(-896.999 -857.201)">
                    <g id="Group_34" data-name="Group 34" transform="translate(896.999 857.201)">
                      <path id="Path_37" data-name="Path 37" d="M936.385,890.628a2.188,2.188,0,0,0-2.187-2.188H911.666a2.188,2.188,0,0,0,0,4.375H934.2A2.187,2.187,0,0,0,936.385,890.628Z" transform="translate(-900.74 -866.565)" fill="currentColor"/>
                      <path id="Path_38" data-name="Path 38" d="M911.666,900.936a2.188,2.188,0,0,0,0,4.375h13.684a2.188,2.188,0,1,0,0-4.375Z" transform="translate(-900.74 -870.311)" fill="currentColor"/>
                      <path id="Path_39" data-name="Path 39" d="M913.065,908.826h-7.316a4.38,4.38,0,0,1-4.375-4.374v-38.5a4.38,4.38,0,0,1,4.375-4.375h26.895a4.38,4.38,0,0,1,4.374,4.375V879.4a2.188,2.188,0,0,0,4.375,0V865.951a8.759,8.759,0,0,0-8.749-8.75H905.749a8.76,8.76,0,0,0-8.75,8.75v38.5a8.76,8.76,0,0,0,8.75,8.75h7.316a2.188,2.188,0,1,0,0-4.375Z" transform="translate(-896.999 -857.201)" fill="currentColor"/>
                      <path id="Path_40" data-name="Path 40" d="M955.424,901.609a6.57,6.57,0,0,0-9.28,0l-12.01,11.983a2.184,2.184,0,0,0-.548.913l-2.615,8.61a2.188,2.188,0,0,0,2.677,2.744l8.829-2.446a2.19,2.19,0,0,0,.961-.56l11.985-11.962A6.571,6.571,0,0,0,955.424,901.609Zm-14.669,17.74-4.442,1.23,1.3-4.279,8.1-8.086,3.094,3.094ZM952.331,907.8l-.424.423-3.094-3.094.422-.422a2.188,2.188,0,0,1,3.095,3.092Z" transform="translate(-907.154 -869.938)" fill="#e60f26"/>
                      <path id="Path_41" data-name="Path 41" d="M934.2,875.945H911.666a2.188,2.188,0,0,0,0,4.375H934.2a2.188,2.188,0,0,0,0-4.375Z" transform="translate(-900.74 -862.82)" fill="currentColor"/>
                    </g>
                  </g>
                </svg>

              h3.automated-processes-card__title Протокол
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="44.361" height="56" viewBox="0 0 44.361 56">
                  <g id="Group_32" data-name="Group 32" transform="translate(-691.861 -1118.816)">
                    <path id="Path_34" data-name="Path 34" d="M725.358,1131.973H702.842a2.186,2.186,0,0,0,0,4.372h22.516a2.186,2.186,0,1,0,0-4.372Zm-8.729,8.743H702.842a2.186,2.186,0,0,0,0,4.372h13.787a2.186,2.186,0,0,0,0-4.372Zm-4.7,8.743h-9.086a2.186,2.186,0,0,0,0,4.372h9.086a2.186,2.186,0,0,0,0-4.372Zm15.619-30.644h-5.022a2.254,2.254,0,0,0-.441.042h5.463a8.774,8.774,0,0,1,8.387,6.239A8.75,8.75,0,0,0,727.547,1118.816Zm-26.874,55.958a8.781,8.781,0,0,1-8.583-7.037,8.752,8.752,0,0,0,8.583,7.079H705.7a2.245,2.245,0,0,0,.441-.042Z" transform="translate(-0.069)" fill="currentColor"/>
                    <path id="Path_35" data-name="Path 35" d="M736.18,1126.724a9.354,9.354,0,0,0-.315-1.609,8.774,8.774,0,0,0-8.387-6.239H700.6a8.747,8.747,0,0,0-8.743,8.743v38.429c0,.3.014.6.042.888a7.678,7.678,0,0,0,.119.818,8.781,8.781,0,0,0,8.583,7.037h11.807a2.186,2.186,0,1,0,0-4.372H700.6a4.382,4.382,0,0,1-4.351-3.924c-.014-.147-.021-.294-.021-.448v-38.429a4.373,4.373,0,0,1,4.372-4.372h26.874a4.382,4.382,0,0,1,4.351,3.924,3.944,3.944,0,0,1,.021.406v22.39a2.186,2.186,0,0,0,4.372,0v-22.39C736.222,1127.291,736.208,1127,736.18,1126.724Z" transform="translate(0 -0.018)" fill="currentColor"/>
                    <path id="Path_36" data-name="Path 36" d="M742.762,1173.213a9.381,9.381,0,0,0-5.106-1.5,9.478,9.478,0,0,0-9.485,9.478,9.362,9.362,0,0,0,1.5,5.106,9.478,9.478,0,1,0,13.094-13.087Zm-5.106,13.087a5.106,5.106,0,1,1,5.106-5.106A5.109,5.109,0,0,1,737.656,1186.3Z" transform="translate(-10.912 -15.898)" fill="#e60f26"/>
                  </g>
                </svg>

              h3.automated-processes-card__title Постановление
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="46.934" height="56" viewBox="0 0 46.934 56">
                  <g id="Group_39" data-name="Group 39" transform="translate(-403.623 -1111.938)">
                    <g id="Group_36" data-name="Group 36" transform="translate(403.623 1111.938)">
                      <path id="Path_42" data-name="Path 42" d="M437.12,1125.1H414.6a2.186,2.186,0,0,0,0,4.372H437.12a2.186,2.186,0,1,0,0-4.372Zm-8.729,8.744H414.6a2.186,2.186,0,0,0,0,4.372h13.787a2.186,2.186,0,0,0,0-4.372Zm-4.7,8.743H414.6a2.186,2.186,0,0,0,0,4.372h9.086a2.186,2.186,0,0,0,0-4.372Zm15.619-30.644h-5.022a2.236,2.236,0,0,0-.441.042h5.463a8.774,8.774,0,0,1,8.387,6.239A8.75,8.75,0,0,0,439.309,1111.938ZM412.436,1167.9a8.781,8.781,0,0,1-8.583-7.037,8.752,8.752,0,0,0,8.583,7.079h5.022a2.245,2.245,0,0,0,.441-.042Z" transform="translate(-403.692 -1111.938)" fill="currentColor"/>
                      <path id="Path_43" data-name="Path 43" d="M447.942,1119.846a9.346,9.346,0,0,0-.315-1.609A8.774,8.774,0,0,0,439.24,1112H412.366a8.747,8.747,0,0,0-8.743,8.743v38.429c0,.3.014.6.042.888a7.672,7.672,0,0,0,.119.818,8.781,8.781,0,0,0,8.583,7.037h11.807a2.186,2.186,0,1,0,0-4.372H412.366a4.382,4.382,0,0,1-4.351-3.924c-.014-.147-.021-.294-.021-.448v-38.429a4.373,4.373,0,0,1,4.372-4.372H439.24a4.382,4.382,0,0,1,4.351,3.924,3.947,3.947,0,0,1,.021.406v22.39a2.186,2.186,0,0,0,4.372,0V1120.7C447.984,1120.413,447.97,1120.126,447.942,1119.846Z" transform="translate(-403.623 -1111.956)" fill="currentColor"/>
                    </g>
                    <g id="Group_38" data-name="Group 38" transform="translate(431.68 1150.775)">
                      <path id="Path_44" data-name="Path 44" d="M461.946,1168.154a2.322,2.322,0,0,0-3.283-.027l-7.824,7.7-3.169-3.067a2.321,2.321,0,0,0-3.228,3.336l4.8,4.642a2.321,2.321,0,0,0,3.241-.013l9.439-9.283A2.322,2.322,0,0,0,461.946,1168.154Z" transform="translate(-443.734 -1167.461)" fill="#e60f26"/>
                    </g>
                  </g>
                </svg>

              h3.automated-processes-card__title Распорожение
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="50.671" height="56.232" viewBox="0 0 50.671 56.232">
                  <g id="Group_41" data-name="Group 41" transform="translate(-1374.411 -1284)">
                    <path id="Path_27" data-name="Path 27" d="M356.233,913.246a2.177,2.177,0,0,1-2.177,2.177h-5.008a8.718,8.718,0,0,1-8.708-8.708V868.4a8.718,8.718,0,0,1,8.708-8.708h26.766a8.718,8.718,0,0,1,8.708,8.708v12.953a2.177,2.177,0,0,1-4.354,0V868.4a4.359,4.359,0,0,0-4.354-4.354H349.048a4.359,4.359,0,0,0-4.354,4.354v38.315a4.359,4.359,0,0,0,4.354,4.354h5.008A2.177,2.177,0,0,1,356.233,913.246Zm19.581-38.315a2.177,2.177,0,0,0-2.177-2.177H351.213a2.177,2.177,0,1,0,0,4.354h22.423A2.177,2.177,0,0,0,375.813,874.93Zm-8.7,8.708a2.177,2.177,0,0,0-2.177-2.177H351.213a2.177,2.177,0,1,0,0,4.354h13.727A2.177,2.177,0,0,0,367.118,883.638Zm-15.9,6.531a2.177,2.177,0,1,0,0,4.354h9.047a2.177,2.177,0,1,0,0-4.354Z" transform="translate(1034.071 424.309)" fill="currentColor"/>
                    <g id="Group_40" data-name="Group 40" transform="translate(1394.525 1309.574)">
                      <path id="Subtraction_1" data-name="Subtraction 1" d="M25.654,30.158H4.4A4.409,4.409,0,0,1,.093,24.849,15.243,15.243,0,0,1,8.655,14.093a8.488,8.488,0,1,1,12.742,0,15.017,15.017,0,0,1,3.309,2.076,15.388,15.388,0,0,1,5.2,8.478c.008.032.017.067.025.1v0l.017.069a4.438,4.438,0,0,1-.905,3.713A4.353,4.353,0,0,1,25.654,30.158ZM15.023,17.047A10.943,10.943,0,0,0,4.357,25.734a.07.07,0,0,0,.028.07H25.654a.1.1,0,0,0,.034-.063v-.007A10.943,10.943,0,0,0,15.023,17.047Zm0-12.693a4.138,4.138,0,1,0,4.138,4.138A4.139,4.139,0,0,0,15.023,4.354Z" transform="translate(0 0)" fill="#e60f26" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </g>
                  </g>
                </svg>

              h3.automated-processes-card__title Обращение граждан
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!
        .swiper-slide.col
          .automated-processes-card
            .automated-processes-card__header
              .automated-processes-card__image 
                <svg xmlns="http://www.w3.org/2000/svg" width="55.979" height="56" viewBox="0 0 55.979 56">
                  <g id="Group_27" data-name="Group 27" transform="translate(-652.111 -862.789)">
                    <path id="Path_30" data-name="Path 30" d="M699.321,862.789h-38.46c-.3,0-.6.014-.889.042a7.7,7.7,0,0,0-.819.119,8.788,8.788,0,0,0-7.042,8.589v26.9a8.758,8.758,0,0,0,8.75,8.75h9.849a2.188,2.188,0,0,0,0-4.375h-9.849a4.377,4.377,0,0,1-4.375-4.375v-26l23.605,16.528L703.7,872.435v12.552a2.188,2.188,0,0,0,4.375,0V871.539A8.754,8.754,0,0,0,699.321,862.789Zm-19.23,20.833-22.037-15.429a4.329,4.329,0,0,1,2.359-1.008c.147-.014.294-.021.448-.021h38.46a4.375,4.375,0,0,1,2.814,1.022Z" transform="translate(0 0)" fill="currentColor"/>
                    <g id="Group_26" data-name="Group 26" transform="translate(679.039 889.737)">
                      <path id="Path_31" data-name="Path 31" d="M719.376,911.96a1.922,1.922,0,0,0-.224-.308l-3.92-4.361-4.851-5.39a1.849,1.849,0,0,0-3.227,1.232v4.1a17.146,17.146,0,0,0-12.342,7.126,20.477,20.477,0,0,0-2.422,4.375,25.7,25.7,0,0,0-1.813,9.758,1.844,1.844,0,0,0,1.554,1.827,1.921,1.921,0,0,0,.287.021,1.856,1.856,0,0,0,1.764-1.26c1.953-5.866,6.2-8.946,12.972-9.4v3.934a1.849,1.849,0,0,0,3.283,1.169l8.771-10.724A1.831,1.831,0,0,0,719.376,911.96Zm-8.519,6.468v-.665A1.858,1.858,0,0,0,709,915.909c-.931,0-1.834.042-2.7.119a19.613,19.613,0,0,0-8.687,2.7A14.422,14.422,0,0,0,695.848,920c.182-.434.371-.861.581-1.267a14.961,14.961,0,0,1,3.283-4.375A13.483,13.483,0,0,1,709,910.833a1.852,1.852,0,0,0,1.855-1.848v-1.029l3.787,4.207.7.777-.3.371Z" transform="translate(-690.577 -901.285)" fill="#e60f26"/>
                    </g>
                  </g>
                </svg>

              h3.automated-processes-card__title Исходящее письмо
            .automated-processes-card__body
              p.automated-processes-card__excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quia!

      .swiper-pagination
