section.section-content#performance-in-numbers.performance-in-numbers
  div(data-reveal data-animation="countup")
    .container-lg.gx-3
      h2.section-title Исполнение в цифрах
      
    .container-lg.gx-3
      .performance-in-numbers__counters
        .row.gx-0
          .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
            span(data-counter-value="1200") 0
            span Пользователи
          .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
            span(data-counter-value="410") 0
            span Организации
          .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
            span(data-counter-value="2000000") 0
            span Документы
          .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
            span(data-counter-value="150000") 0
            span Задачи
          .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
            span(data-counter-value="100") 0
            span Органы
          .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
            span(data-counter-value="100") 0
            span Местные власти
