.hero {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  background-color: $light;
}

.hero {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vw;
    background-color: #101642;
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
      transform: rotate(-25deg) translateX(62%);
    }

    @include media-breakpoint-up(xxl) {
      transform: rotate(-25deg) translateX(68%);
    }
  }
}

.hero-swiper {
  .hero-swiper__navigation {
    padding-top: 25px;
    padding-bottom: 25px;

    @include media-breakpoint-up(lg) {
      padding-top: 15px;
      padding-bottom: 75px;
    }
  }

  .swiper-slide {
    @include media-breakpoint-up(xl) {
      padding-top: 88px;
    }
  }

  .swiper-pagination,
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
  }

  .swiper-bullet {
    min-width: 30px;
    height: 30px;
    font-weight: 300;
    opacity: 0.5;

    &--active {
      font-size: 24px;
      color: $red;
      opacity: 1;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    --swiper-navigation-size: 18px;
    color: $dark-blue;
    min-width: 30px;
    height: 30px;
  }

  .swiper-slide {
    .button {
      @include media-breakpoint-down(md) {
        margin-bottom: 40px;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      font-size: 42px;
      line-height: 56px;
      margin-bottom: 35px;
    }
  }

  &__description {
    color: $medium-blue;
    margin-bottom: 20px;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
    }
  }
}
