section.partners.section-content
  .container-lg.gx-3
    .row.row-cols-auto.justify-content-center.justify-content-lg-between
      .col
        h2.section-title Наши партнеры
        
      .col-12.col-lg-auto.text-center.mb-4.md-lg-0
        a.button.button--outline(href="/partners") Все партнеры

  .container-lg.gx-0.gx-md-3
    .section-swiper.swiper-container
      .swiper-wrapper.row.row-cols-1.g-4
      
        .swiper-slide.col.col-md-6
          .partners-card
            img.partners-card__image(src="/assets/images/icons/partners/partners-1.png")
            h3.partners-card__title Администрация Президента Республики Узбекистан
      
        .swiper-slide.col.col-md-6
          .partners-card
            img.partners-card__image(src="/assets/images/icons/partners/partners-2.png")
            h3.partners-card__title Министерство юстиции Республики Узбекистан
      
        .swiper-slide.col.col-md-6
          .partners-card
            img.partners-card__image(src="/assets/images/icons/partners/partners-1.png")
            h3.partners-card__title Министерство экономическогоразвития и сокращения 
      
        .swiper-slide.col.col-md-6
          .partners-card
            img.partners-card__image(src="/assets/images/icons/partners/partners-3.png")
            h3.partners-card__title Министерство финансов Республики Узбекистан
              
      .swiper-pagination
