.performance-in-numbers {
  color: #fff;

  &__counters {
    background-color: #0F1542;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 16px 20px rgba(#000000, 0.16);
  }

  &__counter {
    font-weight: 300;
    padding: 20px 0;
    text-align: center;
    position: relative;

    // transition: background-color 200ms;

    // &:hover {
    //   background-color: #2A3167;
    // }

    span {
      display: block;
    }

    span:first-child {
      font-size: 24px;
      margin-bottom: 10px;
    }

    span:last-child {
      color: #8c9ab9;
      font-size: 14px;
    }

    &::after,
    &::before {
      position: absolute;
      background-color: $medium-blue;
    }

    &:nth-child(n+3)::before {
      content: '';
      top: 0;
      left: 15%;
      width: 70%;
      height: 1px;
    }

    &:nth-child(odd)::after {
      content: '';
      top: 25%;
      right: 0;
      width: 1px;
      height: 50%;
    }
  }

  @media (min-width: 768px) {
    &__counter {

      &:nth-child(n+3)::before,
      &:nth-child(odd)::after {
        content: normal;
      }

      &:nth-child(n+4)::before {
        content: '';
        top: 0;
        left: 15%;
        width: 70%;
        height: 1px;
      }

      &:nth-child(3n+1)::after {
        content: '';
        top: 25%;
        right: 0;
        width: 1px;
        height: 50%;
      }

      &:nth-child(3n+2)::after {
        content: '';
        top: 25%;
        right: 0;
        width: 1px;
        height: 50%;
      }
    }
  }

  @media (min-width:992px) {
    &__counter {
      padding: 30px 0;

      span:first-child {
        font-size: 28px;
      }

      span:last-child {
        font-size: 16px;
      }

      &:nth-child(n+4)::before,
      &:nth-child(3n+1)::after,
      &:nth-child(3n+2)::after {
        content: normal;
      }

      &:not(:last-child)::after {
        content: '';
        top: 25%;
        right: 0;
        width: 1px;
        height: 50%;
      }
    }
  }
}
