.news-card
  .news-card__image-container
    img.news-card__image(src="/assets/images/news-placeholder.png")
  .news-card__title(title="Профсоюз ГНК подал в суд на депутата Расула Кушербаева")
    | Профсоюз ГНК подал в суд на депутата Расула Кушербаева
  .news-card__excerpt(title="Недовольство ГНК вызвало интервью, данное депутатом сайту Human.uz 23 февраля.")
    | Недовольство ГНК вызвало интервью, данное депутатом сайту Human.uz 23 февраля.
  .news-card__meta
    .news-card__date-badge 24 февраля 2021 год
    a.news-card__read-more-link(href="/news-single")
      | Больше
      <svg xmlns="http://www.w3.org/2000/svg" width="6.319" height="11.24" viewBox="0 0 6.319 11.24">
        <path id="Path_48" data-name="Path 48" d="M123.4,5.056,118.45.121a.415.415,0,1,0-.586.587l4.654,4.642-4.655,4.642a.415.415,0,0,0,.586.587L123.4,5.644a.415.415,0,0,0,0-.587Z" transform="translate(-117.452 0.29)" fill="#e60f26" stroke="#e60f26" stroke-width="0.5"/>
      </svg>
