.news-card {
  padding: 24px;
  border: 1px solid #dadce2;
  border-radius: 6px;

  &__image-container {
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 22px;
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    color: $dark-blue;
    margin-bottom: 16px;
    @include truncated-text(2);
  }

  &__excerpt {
    font-size: 14px;
    color: $medium-blue;
    margin-bottom: 30px;
    @include truncated-text(2);
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date-badge {
    font-size: 14px;
    padding: 6px 12px;
    color: $medium-blue;
    background-color: $light-blue;
    border-radius: 6px;
  }

  &__read-more-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $red;
    @include animated-underline;

    svg {
      margin-left: 6px;
    }
  }
}

.swiper-container {
  .news-card {
    transition: box-shadow 350ms, transform 350ms;

    @media(min-width: 992px) {
      &:hover {
        box-shadow: 9px 24px 12px rgba(#0F1542, 0.05);
      }
    }
  }
}

.swiper-container:not(.swiper-container-initialized) {
  .news-card:hover {
    transform: translate(-5px, -12px);
  }
}

.swiper-container-initialized {
  .swiper-slide-active {
    .news-card {
      box-shadow: 9px 24px 12px rgba(#0F1542, 0.05);
    }
  }
}
