section.performance-in-numbers
  .container
    h2.performance-in-numbers__title Исполнение в цифрах
    .performance-in-numbers__counters
      .row.gx-0
        .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
          span 1200
          span Пользователи
        .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
          span 410
          span Организации
        .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
          span 2 000 000
          span Документы
        .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
          span 150 000
          span Задачи
        .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
          span 100
          span Органы
        .col-6.col-md-4.col-lg-2.performance-in-numbers__counter
          span 100
          span Местные власти
