extends /layout/_base.pug

block head
  title Руководство | Unicon Soft

block body
  .container-xl
    section.section-content.management
      h1.section-title Руководство
      .management__cards
        .management__card
          .row
            .col-6.col-sm-4.col-md-3.col-lg-2
              .management__image-container.mb-4.mb-md-0
                img.management__image(src="/assets/images/management-placeholder.jpg")
            .col-12.col-md-9.col-lg-10
              p.management__name Пекось Олег Андреевич
              .management__description-entry
                p.management__description-title Должность
                p.management__description-content Первый заместитель министра по развитию информационных технологий и коммуникаций Республики Узбекистан по вопросам цифровой экономики и электронного правительства
              .management__description-entry
                p.management__description-title Контактный телефон
                a.management__description-contact(href="tel:+998712384309") (998 71) 238-43-09
                a.management__description-contact(href="#!") (998 71) 238-43-09 (Факс)
              .management__description-entry
                p.management__description-title Дни приема
                p.management__description-content Каждый понедельник - с 16:00 до 18:00
              .management__description-entry
                p.management__description-title Эл. почта
                a.management__description-email(href="mailto:info@mitc.uz") info@mitc.uz
        .management__card
          .row
            .col-6.col-sm-4.col-md-3.col-lg-2
              .management__image-container.mb-4.mb-md-0
                img.management__image(src="/assets/images/management-placeholder.jpg")
            .col-12.col-md-9.col-lg-10
              p.management__name Пекось Олег Андреевич
              .management__description-entry
                p.management__description-title Должность
                p.management__description-content Первый заместитель министра по развитию информационных технологий и коммуникаций Республики Узбекистан по вопросам цифровой экономики и электронного правительства
              .management__description-entry
                p.management__description-title Контактный телефон
                a.management__description-contact(href="tel:+998712384309") (998 71) 238-43-09
                a.management__description-contact(href="#!") (998 71) 238-43-09 (Факс)
              .management__description-entry
                p.management__description-title Дни приема
                p.management__description-content Каждый понедельник - с 16:00 до 18:00
              .management__description-entry
                p.management__description-title Эл. почта
                a.management__description-email(href="mailto:info@mitc.uz") info@mitc.uz
