extends /layout/_base.pug
include /mixins/_header.pug

block head
  title Проект 1 | Unicon Soft

block body
  +header
  .container
    .breadcrumps
      a.breadcrumps__crumb(href="/") Главная
      a.breadcrumps__crumb(href="/products") Продукты
      a.breadcrumps__crumb Проект 1
    section.products-details.page-content-section
      h1.page-content-title Проект 1
      .row.gy-4.justify-content-center.gy-lg-0.gx-lg-5.justify-content-lg-start
        .col-lg-5
          .products-details__image-container
            img.products-details__image(src="/assets/images/products-details-placeholder.jpg")
        .col-lg-7
          .products-details__description-entry
            p.products-details__description-entry-title Название этого проекта
            p.products-details__description-entry-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          .products-details__description-entry
            p.products-details__description-entry-title Название функционала
            p.products-details__description-entry-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          .products-details__description-entry
            p.products-details__description-entry-title Название функционала
            p.products-details__description-entry-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          .text-center.text-lg-start
            a.button.button--primary(href="#!") Перейти
