.section-separator {
  position: relative;
  border: none;
  min-height: 2px;
  margin-top: -1px;
  margin-bottom: -1px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 278px;
    height: 100%;
    background-color: $red;
  }

  &:not(&--right-to-left) {
    background-image: linear-gradient(to right, #646F87, #fff);

    &::before {
      left: 0;
    }
  }


  &--right-to-left {
    background-image: linear-gradient(to left, #646F87, #fff);

    &::before {
      right: 0;
    }
  }
}
