extends /layout/_base.pug
include /mixins/_header.pug
include /mixins/_section-separator.pug

block head
  title Unicon Soft
  
block body
  +header(true)
  include /components/_home-hero.pug
  +section-separator('rtl')
  include /components/_home-automated-processes.pug
  +section-separator('ltr')
  include /components/_home-partners.pug
  +section-separator('rtl')
  include /components/_home-services.pug
  +section-separator('ltr')
  include /components/_home-performance-in-numbers.pug
  +section-separator('rtl')
  include /components/_home-news.pug
  +section-separator('ltr')
