extends /layout/_base.pug

block head
  title Union Soft

block body
  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto et eos necessitatibus? Tempore, animi iste optio asperiores dignissimos, officiis quo ratione consequatur, eum quod dolorum iure neque. Ullam, eveniet quia!
