extends /layout/_base.pug

block head
  title Новость 123 | Unicon Soft

block body
  .container-xl
    section.section-content.news-details
      .row
        .col-lg-3.text-center.order-last.text-lg-start.order-lg-first
          h3.news-details__sidenav-title Другие новости
          ul.news-details__sidenav-list
            li.news-details__sidenav-list-item
              a.news-details__sidenav-list-item-link(href="#!")
                p.news-details__sidenav-list-item-excerpt
                  | На улучшение инфраструктуры экономических зон будет...
                span.news-details__sidenav-list-item-date
                  | 24 февраля 2021 год 
            li.news-details__sidenav-list-item.news-details__sidenav-list-item--active
              a.news-details__sidenav-list-item-link(href="#!")
                p.news-details__sidenav-list-item-excerpt
                  | Профсоюз ГНК подал в суд на депутата Расула Кушербаева
                span.news-details__sidenav-list-item-date
                  | 24 февраля 2021 год 
            li.news-details__sidenav-list-item
              a.news-details__sidenav-list-item-link(href="#!")
                p.news-details__sidenav-list-item-excerpt
                  | Узбекистан налаживает межре-гиональное сотрудничество с...
                span.news-details__sidenav-list-item-date
                  | 24 февраля 2021 год 
            li.news-details__sidenav-list-item
              a.news-details__sidenav-list-item-link(href="#!")
                p.news-details__sidenav-list-item-excerpt
                  | Италия, возможно, возьмёт на себя риски при финансировани...
                span.news-details__sidenav-list-item-date
                  | 24 февраля 2021 год 
          a.button.button--outline(href="/news") Все новости
        .col-lg-9.mb-5.mb-lg-0
          .news-details__image-container
            img.news-details__image(src="/assets/images/news-details-placeholder.jpg")
          .news-details__details-text-content
            h2.news-details__title Профсоюз ГНК подал в суд на депутата Расула Кушербаева
            p.news-details__title-expanded
              | Профсоюз ГНК подал в суд на депутата Расула Кушербаева. В заявлении комитета говорится, что депутат в интервью Human.uz оскорбил и безосновательно обвинил сотрудников налоговой службы. Профсоюз требует возместить моральный ущерб в 4,6 млрд сумов, деньги планируется передать на благотворительность.
            span.news-details__date-badge 24 февраля 2021 год
            p Объединённый профсоюз сотрудников Государственного налогового комитета и его территориальных подразделений подал исковое заявление в Шайхантахурский межрайонный суд по гражданским делам на депутата Законодательной палаты от УзЛиДеП Расула Кушербаева.
            p Как сообщили «Газете.uz» в пресс-службе ГНК Узбекистана, причиной послужило интервью сайту Human.uz от 23 февраля, в котором парламентарий оскорбительно высказался о сотрудниках налоговой службы. В заявлении приводятся цитаты депутата:
            blockquote
              p «…обычный сотрудник или специалист налогового комитета то ли настолько не знает, зачем нужна накладная, то ли считает предпринимателей или людей настолько глупыми, что пытается увидеть накладную как доказательство правильности своих действий…»
              p «…это подлость до такой степени, что налоговый сотрудник требует у предпринимателя даже накладную, спросил бы ещё, какой туалетной бумагой он дома пользуется…»
              p «…налоговые органы работают по принципу, чтобы в любом случае выставить предпринимателя виновным…»
            p В заявлении комитета говорится, что действия Расула Кушербаева нанесли урон деловой репутации сотрудников налоговых органов.
            p В комитете напомнили о части 4 статьи 138 Налогового кодекса, согласно которой сотрудники могут требовать всю информацию, касающуюся высчитывания и уплаты налоговых сборов. Кроме того, в части 3 статьи 223 кодекса говорится, что отсутствие накладной или перевозка товаров по поддельным документам считается сокрытием налоговой базы.
            p В ГНК заявили, что согласно правилам этики депутата Олий Мажлиса депутат при высказывании о деятельности государственных и других органов не имеет права использовать грубые, оскорбительные слова и выражения, а также допускать безосновательные обвинения.
